*{
    margin: 0 10px 0 10px ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
    
    color: aliceblue; 
    width: 100%;
    min-height: 100vh;
    background-image: url(images/back-image.png);
    background-position:center;
    background-size:cover;
    overflow:hidden;
    position: relative
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: grey;
    font-weight: 400;
}

.login-btn{
    text-decoration: none;
    color: grey;
    margin-right: 15px;
    font-weight: 400;
}
.btn{
    display: inline-block;;
    text-decoration: none;
    padding: 14px 40px; 
    color: rgb(223, 162, 172);
    background-image: linear-gradient(45deg, rgb(226, 127, 127),rgb(48, 48, 229));
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0; 
    margin: 0px 0px 0px 50px;
    transition: 0.5s;
    
}
/* .content{
    margin: 0px 0px 300px 50px;
    box-sizing: border-box;
} */
.content h1{
    margin: 200px 0px 0px 50px;
    color: #222; 
    font-size: 70px; 
    animation-delay: .5s;
}
.content p{
    margin: 0px 0px 0px 50px;
    color: black; 
    animation-delay: 1s;
}
.content .btn{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 2s;
}

.btn:hover{
    border-top-right-radius: 30px;
}
.girl{ 
   width: 500px;
   position: absolute;
   top: 100px;
   right: 40px;
}
.girl.anim{
    animation-delay: 3s;
}
/* .anim{
    opacity: 0;
    transform: translateX(100px);
    animation: moveright 11s infinite ;
 }
 @keyframes moveright {
    100%{
        opacity: 2;
        transform: translateX(100px);
    }
 } */
.anim{
    opacity: 0;
    transform: translateY(3800px);
    animation: moveup  linear forwards;
 }
 @keyframes moveup {
    100%{
        opacity: 2;
        transform: translateY(0px);
    }
 }
 